h1 {
    position: absolute;
    top: 30%;
    width: 100%;
    text-align: center;
}

.container {
    position: relative;
    max-width: 500px;
    margin: 0 auto;
}

#image-lone-starfish-wide {
    width: 100%;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline-block;
}

nav ul a {
    color: darkslategray;
    text-decoration: none;
    font-size: 1.5rem;
    display: block;
}

img {
    width: 200px;
    float: left;
}

p {
    text-wrap: right;
}